/*
  DIAGNOSTIC STYLING
*/
body {
  background: gray;
}

* {
  outline: 1px dotted black;
}

/* Your Awesome Scripts */


/* Light Gallery background */
.lg-backdrop { 
  background-color: rgba(200, 200, 250, .5);
}