/*
  DIAGNOSTIC STYLING
*/
/* body {
  background: gray;
}

* {
  outline: 1px dotted black;
} */

/* Universal styling */

:root {
  --prime-color: #898989; /*gray*/
  --sec-color: #E1F3F5; /*blue*/
  --thr-color: #FDF0FD; /*lavendarblush*/
  --forth-color: #e6f5ef; /*honeydew*/
  --outside-margin: 9%;
  --tile-margin: 4% 9% 4% 9%;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: var(--prime-color);
}

/* Logo header animation */

header {
  position: relative;
}

.logo-wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.head-title {
  color: var(--prime-color);
  opacity: 0;
  animation: fadeIn .5s 2s linear forwards;
}

.head-title h1 {
  font-size: 55px;
  margin: 0;
  margin-top: 10px;
}

.head-title  h4 {
  font-size: 40px;
  font-weight: 300;
  margin: 10px;
}

svg {
  fill: var(--prime-color);
  stroke: var(--prime-color);
  stroke-width: 1px;
  width: 300px;
}

.letters-stroke {
  fill-opacity: 0;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: fadeFill 1s 2s linear forwards,
            dash 1s linear forwards;
}

.inside-circle {
  fill-opacity: 0;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: fadeFill 1s 2s linear forwards,
                dash 1s linear forwards; 
}

.outside-circle {
  fill-opacity: 0;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: fadeFill 1s 2s linear forwards,
                dash 1s 1s linear forwards; 
}

.arrow-down {
  height: 4vh;
  width: 4vh;
  opacity: .5;
  border-bottom: solid var(--prime-color) 3px;
  border-right: solid var(--prime-color)  3px;
  border-radius: 0 0 4px 0;
  transform: rotate(45deg);
}

.arrow-down:hover {
   cursor: pointer;
}

.enter-site {
  animation: fadeOutUp 2s forwards;
  position: absolute;
}

.fade {
  opacity: 0;
  animation: fadeIn .5s 1s linear forwards;
}

/* Header Nav styles  */

  /* wrapper */
.top-nav {
  padding: 20px;
  background-color: var(--sec-color);
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  /*  nav logo */
.top-nav img {
  width: 6vh;
}

#header-logo {
  width: 25px;
  margin-left: 1.5%;
  margin-right: 25%;
}

  /*   remove bullets and added margin */
.top-nav ul {
  list-style-type: none;
  padding: 0;
}

/*  links to site pages group */
.main-nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

  /*  links to social media and social media icons */
.social-nav {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

  /*  social media icons */
.social-nav img{
  width: 18px;
}

.social {
  filter: invert(35%);
}

/* Link Styles */
a {
  color: var(--prime-color);
  text-decoration: none;
}

a:hover {
    opacity: .5;
}

a:visited {
    opacity: .2;
}
/* mobile menu */

#menu {
  display: none;
  margin: 5%;
  cursor: pointer;
}

/* General / dfault tile layouts */

.tile {
  margin-top: 5%;
  width: 100%;
}

.tile-bar {
  margin-top: var(--outside-margin);
  position: relative;
  width: 55%;
  height: 5vh;
  background-color: var(--sec-color);
}

.tile-bar h2 {
  position: absolute;
  font-size: 35px;
  top: -47px;
  margin-left: 15%;
}

.fig-wrapper {
  display: flex;
  margin: var(--tile-margin);
}

figure {
  width: 100%;
  height: 50vh;
  margin: 0;
  border: solid 1px var(--prime-color);
}

figcaption {
  width: 45%;
  margin: 5%;
  font-size: 25px;
}

/* Right aligned tile */

.fig-wrapper .right {
  text-align: right;
}

/*  Foot styles*/

footer {
  margin: 10% 0 6% 0;
  text-align: center;
  color: var(--prime-color);
}

footer nav {
  margin-top: 5%;
}

.footer-bar {
  width: 100%;
  height: 7vh;
  background-color: var(--sec-color);
  position: relative;
}

footer nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: -23px;
}

/* basic project-grid and tiles */

.project-grid {
  margin: var(--tile-margin); 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.project-tile {
  width: 100%;
}

/* Light Gallery background */
.lg-backdrop { 
  background-color: rgba(200, 200, 250, .5);
}

/* ux design page */

/* Brand Design Page */

/* About Page */

#about {
  margin: var(--tile-margin);
  margin-right: 20%;
  display: flex;
}

.image-wrapper {
  width: 300px;
  border: none;
  margin-right: 5%;
}

#head-shot {
  width: 300px;
}

#about-content p {
  margin-top: 0;
}
/* Contact Form */

form {
  margin: var(--tile-margin);
}

/* 404 styles */

.error {
  background: var(--sec-color);  /* fallback for old browsers */
  background: linear-gradient(to right, var(--forth-color), var(--sec-color), var(--thr-color)); 
  }
  
  .error-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50vh;
    text-align: center;
  }
  
  .error-text h2 {
    font-size: 80px;
    animation: fadeIn 5s ease-in;
  }

/* Change tile bar specific styles / also for page specific navs */
.print {
  background-color: var(--forth-color);
}

#print {
   margin-left: 45%;
}

.brand {
 background-color: var(--thr-color);
}

.ux {   /* default */
  background-color: var(--sec-color);
}


/* keyfram animations */
@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fadeFill { /*adapted from animate css*/
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

@keyframes fadeIn { /*from animate css*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutUp { /*from animate css*/
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

/* media queries */
@media (max-width: 950px) {
  .project-grid {
    margin-top: 6%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  /* responsive nav */
  .top-nav {
    justify-content: flex-start;
  }
  #header-logo {
      margin-right: 5%;
  }
  #menu {
    display: block;
    margin: auto 9%;
    margin-right: 50%;
  }
  .main-nav {
    display: none;
    position: absolute;
    width: 35%;
    padding: 2%;
    top: 75%;
    left: 15%;
    z-index: 1;
    text-align: left;
  }
  .main-nav li {
    display: block;
    padding: 2%;
  }
  .main-nav li a {
    display: block;
    padding: .75em 1.5em .5em 1.5em;
  }
  .logo {
    width: 80%;
  }
  /* responsive home tiles */
  .tile-bar h2 {
    font-size: 25px;
    top: -33px;
  }
  .fig-wrapper {
    flex-direction: column;
  }
  figure {
    height: 35vh;
  }
  .right {
    flex-direction: column-reverse;
  }
  #print h2 {
    right: 9%;
    margin-right: 9%;
  }
  figcaption {
    width: 70%;
    font-size: 20px;
  }
    /* responsive about article */
    #about {
      margin-top: 6%;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    #about-content {
      margin-top: 15%;
    } 
    /* responsive footer */
    .footer-bar {
      height: 27vh;
    }
    footer nav ul {
      flex-direction: column;
      top: 0;
    }
    .footer-bar ul li {
      margin-top: 1%;
    }
}

@media (max-width: 550px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  } 
}